
    <div class="clearfix">
        <h6 class="float-left font-weight-bold grey-text">Your cart is ready</h6>
        
    </div>

    <!--Card-->
    <mdb-card>
        <div class="single-news p-lg-4 p-3">
         <!-- Grid row -->
            <div class="row">
        
              <!-- Grid column -->
              <div class="col-md-3 col-5">
        
                <!--Image-->
                <div class="view overlay rounded z-depth-1">
                  <img class="img-fluid" [src]="restaurantObj.restaurant_logo"  alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                  </a>
                </div>
        
              </div>
              <!-- Grid column -->
        
              <!-- Grid column -->
              <div class="col-md-9 col-7">
        
                <!-- Excerpt -->
                <div class="font-weight-bold d-flex dark-grey-text cart-plus-minus">
                    <div class="col-10 col-lg-11 text-truncate pl-0 mb-2">
                        <p class="font-weight-bold dark-grey-text mb-1">{{restaurantObj.restaurant_name}}</p>
                    </div>
                </div>
               
                <a href="#!" class="red-text">
                    <h6 class="font-weight-bold mb-3">
                        <small class="text-muted">{{restaurantObj.restaurant_foodtype}}</small>
                    </h6>
                </a>        
              </div>
              <!-- Grid column -->
        
            </div>
            <!-- Grid row -->
        
          </div>
          <hr/>
      <!--Card content-->
      <mdb-card-body class="p-3 p-lg-4">
          <div class="scroll-cart" *ngFor="let products of productlist;let cardIndex = index">
            <div  *ngIf="products.count > 0">
              <dl class="row d-flex justify-content-between" style="border-bottom: 1px solid black;">
                  <dd class="col-sm-8 col-12"  >
                    {{products.menu_name}}
                  </dd>
                  <dd class="col-sm-4 col-6"  >
                    ৳ {{products.menu_price}}
                  </dd>
                  <dd class="col-sm-4 col-5 d-flex justify-content-between cart-plus-minus"  >
                      <a>
                          <span mdbWavesEffect class="badge red z-depth-1 text-white plus-minus" (click)="changeCount('minus',cardIndex)">
                              <mdb-icon fas icon="minus"></mdb-icon>
                          </span>
                      </a>
                      <input mdbInput type="text" class="form-control z-depth-1 form-control-sm" [(ngModel)]="products.count" />
                      <a>
                          <span mdbWavesEffect class="badge red z-depth-1 text-white plus-minus" (click)="changeCount('plus',cardIndex)">
                              <mdb-icon fas icon="plus"></mdb-icon>
                          </span>
                      </a>
                  </dd>
              </dl>
            </div>
        </div>
        <mdb-card class="mb-3" bgColor="bg-light">
            <mdb-card-body>
                <dl class="row">
                    <dd class="col-sm-8 col-7">
                      Sub Total
                    </dd>
                    <dd class="col-sm-4 col-5 text-right">
                      ৳ {{totalprice}}
                    </dd>
                    <dd class="col-sm-8 col-7" *ngIf="isHomeDelivery">
                        Service Charge
                      </dd>
                      <dd class="col-sm-4 col-5 text-right" *ngIf="isHomeDelivery">
                        ৳ {{serviceCharge}}
                      </dd>
                      <dd class="col-sm-8 col-7" *ngIf="isHomeDelivery">
                        Delivery Charge
                      </dd>
                      <dd class="col-sm-4 col-5 text-right" *ngIf="isHomeDelivery">
                        ৳ {{deliveryCharge}}
                      </dd>
                  </dl>
            </mdb-card-body>
            <mdb-card-header>
                <dl class="row">
                  <dd class="col-sm-8 col-7">
                      Total
                    </dd>
                    <dd class="col-sm-4 col-5 text-right">
                      ৳ {{total}}
                    </dd>
                </dl>
            </mdb-card-header>
          </mdb-card>
      </mdb-card-body>
    </mdb-card>
    <!--/.Card-->

    <mdb-card class="mb-3 mt-3" bgColor="bg-light">
        <mdb-card-header>Suggetions</mdb-card-header>
        <mdb-card-body>
          <mdb-card-text>                
            <a>
                <span mdbWavesEffect class="badge red z-depth-1 text-white plus-minus mr-2">
                    <mdb-icon style="font-size: 17px;" fas icon="comment-alt"></mdb-icon>
                </span>
            </a>
            <input type="text" style="width: 90%;" [(ngModel)]="suggestedText"  (change)="suggetionchange()" placeholder="Some quick example text">
        </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
      
