.bg-banner{
    padding-bottom: 20px;
    background-color: rgb(224, 49, 75);
    
}

.outlet-banner-sticky{
    position: sticky;
    top: -1vw!important;
    z-index: 999;
}
.input-group-prepend{
    margin-right: 26px;
}
