.bg-banner{
    padding-bottom: 20px;
    background-color: rgb(224, 49, 75);
    background-color: #a1782c;
}

.outlet-banner-sticky{
    position: sticky;
    top: -1vw!important;
    top: -16vw !important;
    z-index: 999;
}

.rating{
    height: 20px;
    overflow: hidden;
}
._search{
    background: white;
    border-radius: 23px;
    .input-group-prepend{
        margin-right: 2px;
    }
    ._input{
        border: none;
    }:focus{
        box-shadow: none !important;
        border-bottom: none !important;
    }
}