<!-- Section: Blog v.1 -->
<section class="mt-5 bg-banner pt-3 outlet-banner-sticky">  
<div class="banner mt-5 container-fluid">
    <div class="row bg-white">
        <div class="col-lg-4 m-auto pl-0 banner-left">
            <div class="p-3 card z-depth-2 waves-light iew overlay rounded"  mdbWavesEffect style="left: 70px;z-index: 99;">
            <!-- Grid row -->
            <div class="row">
        
                <!-- Grid column -->
                <div class="col-lg-4 col-md-5 m-auto" >
        
                    <!-- Featured image -->
                    <div class="view overlay rounded  mb-lg-0 mb-4 waves-light" mdbWavesEffect style="width: 100%;">
                        <img class="img-fluid z-depth-2" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg"
                            alt="Sample image" style="width: 130px;height: 130px;object-fit: cover;">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
        
                </div>
                <!-- Grid column -->
        
                <!-- Grid column -->
                <div class="col-lg-8 col-md-7">
                    <h5 class="font-weight-bold"><a><strong>{{restaurantObj.restaurant_name}}</strong></a></h5>
                    <a href="#!" class="green-text">
                        <h6 class="font-weight-bold mb-3">
                            <mdb-icon fas icon="utensils" class="pr-2" size="lg"></mdb-icon>
                            <small class="text-muted">• {{restaurantObj.restaurant_foodtype}}</small>
                        </h6>
                    </a>
                    <a href="#!" class="red-text">
                        <h6 class="font-weight-bold mb-3">
                            <mdb-icon fas icon="phone-volume" class="pr-2" size="lg"></mdb-icon>
                            <small class="text-muted">{{restaurantObj.restaurant_contact}}</small>
                        </h6>
                    </a>
                  <!-- <p> <small class="text-muted">Last updated 3 mins ago</small></p> -->
                    <a href="#!" class="yellow-text">
                        <h6 class="font-weight-bold mb-3">
                            <mdb-icon fas icon="star" class="pr-2" size="lg"></mdb-icon>
                            <small class="text-muted">Rate Now</small>
                        </h6>
                    </a>
                    <!-- Post data -->
                    <!-- <p>by <a><strong>Carine Fox</strong></a>, 19/08/2018</p> -->
                    <!-- Read more button -->
                    <!-- <a mdbBtn color="success" mdbWavesEffect>Read more</a> -->
        
                </div>
                <!-- Grid column -->
        
            </div>
            <!-- Grid row -->
        </div>
        </div>
        <div class="col-lg-8 col-12 col-md-8 pr-lg-0">
            <div class="view view-cascade overlay wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <img src="assets/img/shad1300x32601.jpg" class="img-fluid">
                <a href="#!">
                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 m-auto">
            <div class="input-group mb-3 _filter">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
                    </span>
                  </div>
                  
              </div>


        </div>
    </div>
</div>
    <hr class="my-3">

  </section>
  <!-- Section:-->

<section class="bg-banner">
    <div class="container">
        <div class="row">
        <div class="col-lg-3 my-2 my-lg-0 my-md-0">
            <app-menu></app-menu>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-8">
                    <app-products></app-products>
                </div>
                <div class="col-lg-4">
                    <app-cart></app-cart>
                </div>
            </div>
        </div>
    </div>
</div>
</section>