<!-- Footer -->
<footer class="page-footer font-small red pt-4 waw fadeIn">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">
      <div class="col-md-4 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">GET TO KNOW US</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://foodbahokbd.com/pages/centre" target="_blank">Restaurant Sign Up</a>
          </li>
          <li>
            <a href="https://foodbahokbd.com/pages/centre" target="_blank">Delivery with Food Bahok</a>
          </li>
          <li>
            <a href="https://foodbahokbd.com/pages/career" target="_blank">Careers</a>
          </li>
          <li>
            <a href="https://foodbahokbd.com/pages/about" target="_blank">About Us</a>
          </li>
          <li>
            <a href="https://foodbahokbd.com/pages/privacy" target="_blank">Privacy Policy</a>
          </li>
          <li>
            <a href="https://foodbahokbd.com/pages/terms_and_condition" target="_blank">Terms & Conditions</a>
          </li>
          <li>
            <a href="https://foodbahokbd.com/pages/cookie" target="_blank">Cookie Policy</a>
          </li>
          <li>
            <a href="https://foodbahokbd.com/" target="_blank">Modern Slavery Statement</a>
          </li>
          <li>
            <a href="https://foodbahokbd.com" target="_blank">Sustainability</a>
          </li>
          <li>
            <a href="https://foodbahokbd.com/pages/refunds" target="_blank">Refund Policy</a>
          </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Let Us Help You</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">COVID-19 and Food Bahok</a>
          </li>
          <li>
            <a href="#!">Contact us</a>
          </li>
          <li>
            <a href="#!">Delivery Rates & Policies</a>
          </li>
          <li>
            <a href="#!">Recycling</a>
          </li>
          <li>
            <a href="#!">Food Bahok Mobile App</a>
          </li>
          <li>
            <a href="#!">Customer Service</a>
          </li>
          <li>
            <a href="#!">My Account</a>
          </li>
          <li>
            <a href="#!">Blog
            </a>
          </li>
          <li>
            <a href="#!">Buy Gift Card</a>
          </li>
          <li>
            <a href="#!">Redeem Gift card</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- <hr class="clearfix w-100 d-none d-md-none"> -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CONTACT US</h5>
        <p>
          <i class="fas fa-map-marker-alt fa-lg"></i>  H#18, Gausal Azam Avenue,
          Quantum Mostafa Tower,
          Sector-13, Uttara,
          Dhaka-1230, Bangladesh.
        </p>
        <p>
          <i class="fas fa-envelope-square fa-lg"></i>  info@foodbahokbd.com
        </p>
        <p>
          <i class="fas fa-globe fa-lg"></i> www.foodbahokbd.com
        </p>
        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-left">
          <li class="list-inline-item">
            <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
              <mdb-icon class="fa-lg" fab icon="facebook"></mdb-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" color="tw" class="mx-1" mdbWavesEffect>
              <mdb-icon class="fa-lg" fab icon="twitter"></mdb-icon>
            </a>
          </li>
          <li class="list-inline-item">
            <a mdbBtn floating="true" color="gplus" class="mx-1" mdbWavesEffect>
              <mdb-icon class="fa-lg" fab fab icon="google-plus"></mdb-icon>
            </a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->


    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <h5 class="mb-1">DOWNLOAD OUR APP</h5>
    </li>
    <li class="list-inline-item">
      <a href="#!" mdbBtn color="danger" rounded="true" mdbWavesEffect>Sign up!</a>
    </li>
  </ul>
  <!-- Call to action -->
  <div class="row">
    <div class="col-8 offset-2">
      <img src="assets/img/bahoklogo/ssl.png" alt="img" width="100%">
    </div>
  </div>

  <hr>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="www.foodbahok.com"> foodbahok.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->