<div class="scroll-product">
<div class="card z-depth-1 border-0">

<!-- Small news -->
<div class="single-news note">

    <!-- Grid row -->
    <div class="row borderbottom" *ngFor="let products of productsList;let cardIndex = index">

      <!-- Grid column -->
      <div class="col-md-3 col-4 p-0-8">

        <!--Image-->
        <div class="view overlay rounded z-depth-1">
          <img class="img-fluid" [src]="products.img" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-9 col-8">

        <!-- Excerpt -->
        <div class="font-weight-bold d-flex dark-grey-text cart-plus-minus">
            <div class="col-lg-11 col-10 text-truncate pl-0 mb-2">
                <p class="font-weight-bold dark-grey-text mb-1">{{products.name}}</p>
            </div>
            <a >
                <span mdbWavesEffect class="badge red z-depth-1 text-white plus-minus"><mdb-icon fas icon="share-alt"></mdb-icon></span>
            </a>
        </div>
       
        <a href="#!" class="red-text">
            <h6 class="font-weight-bold mb-3">
                <small class="text-muted">{{products.cat}}</small>
            </h6>
        </a>
        <div class="d-flex justify-content-between">
          <div class="col-lg-8 col-5 text-truncate pl-0 mb-2">
            <a href="#!" class="dark-grey-text">£{{products.price}}</a>
          </div>
          <div class="col-lg-4 col-7 d-flex justify-content-between cart-plus-minus">
            <a>
                <span mdbWavesEffect class="badge red z-depth-1 text-white plus-minus"><mdb-icon fas icon="minus" (click)="changeCount('minus',cardIndex)"></mdb-icon></span>
            </a>
            <input mdbInput type="text" class="form-control z-depth-1 form-control-sm" [(ngModel)]="products.count"  />
            <a>
                <span mdbWavesEffect class="badge red z-depth-1 text-white plus-minus"><mdb-icon fas icon="plus" (click)="changeCount('plus',cardIndex)"></mdb-icon></span>
            </a>
          </div>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Small news -->
  <hr class="m-0">
  
  </div>
</div>