.cart-plus-minus{
    .plus-minus{
        font-size: 15px;
    }
    input{
        height: 25px;
        width: 40px;
        padding: 0;
        text-align: center;
    }:focus{
        box-shadow: none;
    }
}
.note{
    border-color: transparent;
}
.note:hover{
    background-color: #438b8845;
    border-left: 6px solid #266984;
}

.single-news{
    margin-bottom: 10px;
    margin-left: 10PX;
    img{
        height: 100px;
        width: 134px;
    object-fit: cover;
    }
}
.borderbottom{
    border-bottom: 1px solid gray;
}  