<ul class="nav md-pills pills-secondary mb-4">
    <li class="nav-item">
      <a class="nav-link" mdbWavesEffect [class.active]="isHomeDelivery" data-toggle="tab" (click)="homeActive()" role="tab" aria-selected="true">Home Delivery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" mdbWavesEffect [class.active]="!isHomeDelivery" data-toggle="tab" (click)="pickUpActive()"  role="tab" aria-selected="false">Pick Up</a>
    </li>

  </ul>

  <!-- Tab panels -->
    <!--Panel 1-->
    <div class="tab-content">
    <div class="tab-pane fade" [ngClass]="isHomeDelivery ? 'in active show':'' " role="tabpanel">
        <app-address></app-address>
    </div>
    <!--/.Panel 1-->

    <!--Panel 2-->
    <div class="tab-pane fade" [ngClass]="!isHomeDelivery ? 'in active show':'' "  role="tabpanel">
        <app-customer-details></app-customer-details>
    </div>
    <!--/.Panel 2-->
    </div>

    <mdb-card class="mt-4">
        <mdb-card-header>Schedule Order</mdb-card-header>
        <mdb-card-body>
          <div class="row mt-3">
              <div class="col-lg-6 col-sm-12">
                  <label for="basic-url">Select Date</label>                  
                  <div class="input-group mb-3" style="width: 85%;">
                    <input type="date" class="form-control" [(ngModel)]="date"  style="height: 32px;border: 1px solid black">
                  </div> 
              </div>
              <div class="col-lg-6 col-sm-12">
                  <label for="basic-url">Select Time</label>                  
                  <div class="input-group mb-3">
                    <!-- <input type="text" class="form-control" aria-label="time"> -->
                    <input [ngxTimepicker]="picker" [(ngModel)]="time">
                       <ngx-material-timepicker #picker></ngx-material-timepicker>
                    <div class="input-group-append" mdbWavesEffect>
                      <span class="input-group-text" [ngxTimepicker]="picker"><mdb-icon far icon="clock" red class="prefix"></mdb-icon></span>
                    </div>
                  </div> 
              </div>
          </div>
        </mdb-card-body>
    </mdb-card>

    <a  mdbBtn color="red" mdbWavesEffect class="mt-3" routerLink="/checkout/payment-summary" (click)="makePayment(totalamount)">Proceed to Pay</a>