<mdb-card class="mt-4">
    <mdb-card-header>Customer Details</mdb-card-header>
    <mdb-card-body>
      <div class="row mt-3">
          <div class="col-lg-6 col-sm-12">
              <label for="basic-url">Pick Up From</label>                  
              <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="time" [(ngModel)]="customerDetails.pickUpFrom" (change)="changepickUpFrom()">
              </div> 
          </div>
          <div class="col-lg-6 col-sm-12">
              <label for="basic-url">Name</label>                  
              <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="time" [(ngModel)]="customerDetails.name" (change)="changepickUpFrom()">
                <div class="input-group-append" mdbWavesEffect>
                  <span class="input-group-text"><mdb-icon far icon="clock" red class="prefix"></mdb-icon></span>
                </div>
              </div> 
          </div>
          <div class="col-lg-6 col-sm-12">
            <label for="basic-url">Phone No</label>                  
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <div class="btn-group" mdbDropdown>
                    <button mdbDropdownToggle type="button" mdbBtn color="red" size="md" class="dropdown-toggle z-depth-0"
                      mdbWavesEffect>+91</button>
              
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">+11</a>
                      <a class="dropdown-item" href="#">+77</a>
                      <a class="dropdown-item" href="#">+22</a>
                      <a class="dropdown-item" href="#">+33</a>
                    </div>
                  </div>
                </div>
              <input type="number" class="form-control" aria-label="Text input with dropdown button" [(ngModel)]="customerDetails.number" (change)="changepickUpFrom()">
            </div> 
        </div>
        <div class="col-lg-6 col-sm-12">
            <label for="basic-url">Email</label>                  
            <div class="input-group mb-3">
              <input type="email" class="form-control" aria-label="time" [(ngModel)]="customerDetails.email" (change)="changepickUpFrom()">
            </div> 
        </div>
      </div>
    </mdb-card-body>
</mdb-card>