.sidebar-fixed {
  height: 100vh;
  width: 270px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0; }
  .sidebar-fixed .list-group .active {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  .sidebar-fixed .logo-wrapper {
    padding: 2.5rem; }
    .sidebar-fixed .logo-wrapper img {
      max-height: 50px; }

@media (min-width: 1200px) {
  .navbar,
  .page-footer,
  main {
    padding-left: 270px; } }

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none; } }


.nav-left{
._dropdown{
  display: flex;
  color: #191919 !important;
  font-weight: 400;
  background-color: #fff;
  border-radius: 3px;
  height: 35px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px 0px 15px;
}
._search{
  color: #191919 !important;
  background-color: #fff;
  border-radius: 30px;
  height: 33px;
  width: 220px;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0px 0px 0px;
  border-bottom: none;
}
div.md-form{
  background: white;
  margin-left: 8px;
  border-radius: 30px;
  height: 40px;
}
button{
  background-color: red !important;
  margin: 0px 3px;
  box-shadow: none;
  border: 1px solid white !important;
  color: white !important;
  border-radius: 30px;
}
}


.form-elegant .font-small {
font-size: 0.8rem; }

.form-elegant .z-depth-1a {
-webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
// -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
// box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); 
box-shadow: 0 5px 11px 0 rgb(244 67 54 / 56%), 0 4px 15px 0 rgb(244 67 54 / 8%);
};


.form-elegant .modal-header {
border-bottom: none; }

.form-elegant .modal-dialog .btn .fa {
color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
font-weight: 400; }

.red-gradient {
  background: linear-gradient(40deg,#e6b72b,#de382c) !important;
}
.btn-rounded {
border-radius: 10em;
}
.form-elegant .z-depth-1a {
// -webkit-box-shadow: 0 2px 5px 0 rgb(55 161 255 / 26%), 0 4px 12px 0 rgb(121 155 254 / 25%);
// box-shadow: 0 2px 5px 0 rgb(55 161 255 / 26%), 0 4px 12px 0 rgb(121 155 254 / 25%);
box-shadow: 0 2px 5px 0 rgb(244 67 54 / 26%), 0 4px 12px 0 rgb(244 67 54 / 26%);
}
.btn.red-gradient {
color: #fff;
-webkit-transition: .5s ease;
transition: .5s ease;
}
.form-elegant{
.modal-header {
  background-color: #ff4b4b;
  background: linear-gradient( 
40deg
, #e6b72b, #ed4748) !important;
}
}

.toggle-label {
  position: relative;
  display: block;
  width: 192px;
  height: 40px;
  margin-top: 0px;
  border-radius: 30px;
}
.toggle-label input[type=checkbox] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.toggle-label input[type=checkbox]+.back {
  border-radius: 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e7e7e7;
  transition: background 150ms linear;
}

.toggle-label input[type=checkbox]+.back .toggle {
  display: block;
  position: absolute;
  content: ' ';
  background: #fff;
  width: 50%;
  height: 79%;
  transition: margin 150ms linear;
  /* border: 1
px
solid #808080; */
  border-radius: 30px;
  margin: 4px 4px;
}
.toggle-label .label.on {
  left: 0px;
}
.toggle-label .label {
  display: block;
  position: absolute;
  width: 50%;
  color: #302f2f;
  line-height: 42px;
  text-align: center;
  font-size: 0.9em;
  font-weight: 400;
}
.toggle-label input[type=checkbox]+.back .label.off {
  color: #302f2f;
}

.toggle-label .label.off {
  right: 0px;
}
.toggle-label input[type=checkbox]:checked+.back {
  background: #e7e7e7;
}
.toggle-label input[type=checkbox]:checked+.back .toggle {
  margin-left: 128px;
}
.toggle-label input[type=checkbox]:checked+.back .label.on {
  color: #302f2f;
}
.toggle-label input[type=checkbox]:checked+.back .label.off {
  color: #302f2f;
}
.toggle-label input[type=checkbox]:checked + .back .toggle {
  margin-left: 91px;
}
.md-form input[type=text]:focus:not([readonly]){
  box-shadow: none;
  border-bottom: none;
}