<section class="pb-3 text-center ">
    <div class="container mt-5 pt-5">
        <!-- <ul class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
            [animation]="'fade'" *ngFor="let item of slides; let i = index" style="width: 100%;overflow:auto;">
            <li *ngFor="let card of item; let cardIndex = index">
        
                <div>
                    <div class="my-1">
                        <img clss="cat-img zoom" [src]="card.img" alt="Card image cap"/>
                    </div>
                    <a href="#" color="primary" class="waves-light" mdbWavesEffect>{{card.title}}</a>
                </div>

            </li>
        </ul> -->
        <div class="categories">
            <div class="row" style="float: right;padding-right: 20px;">
                  <a class="_right" mdbBtn floating="true" size="sm" gradient="red" mdbWavesEffect (click)="changeCategories('preview')">
                    <mdb-icon fas icon="angle-double-left" color="white" size="2x" ></mdb-icon>
                  </a>
                  <a class="_left" mdbBtn floating="true" size="sm" gradient="red" mdbWavesEffect (click)="changeCategories('next')">
                    <mdb-icon fas icon="angle-double-right" color="black" size="2x" ></mdb-icon>
                  </a>
                <!-- <mdb-icon fas icon="angle-double-right" (click)="changeCategories('next')"></mdb-icon> -->
            </div>
            <ul class="list-group list-group-horizontal" *ngFor="let item of slides; let i = index" style="width: 100%;overflow:auto;">
                <li class="list-group-item" *ngFor="let card of item; let cardIndex = index">
                    <div class="my-1 _img" (click)="changerestoList(card)">
                        <img clss="cat-img zoom" [src]="card.pcategory_img" alt="Card image cap"/>
                    </div>
                    <a href="#" color="primary" class="waves-light" mdbWavesEffect>{{card.pcategory_name}}</a>
                </li>
            </ul>
        </div>
    <!-- Section heading -->
    <div class="clearfix">
        <!-- <span class="h6-responsive font-weight-bold text-center my-5 float-left">All</span>
        <span *ngIf="changeviewFlag == false" class="h6-responsive font-weight-bold text-center my-5 float-right" style="cursor: pointer;"  (click)="changeview(true)"><i style="color: red;margin-right: 7px;" class="fas fa-map-marker-alt"></i>Map View</span>
        <span *ngIf="changeviewFlag == true" class="h6-responsive font-weight-bold text-center my-5 float-right" style="cursor: pointer;"  (click)="changeview(false)"><i style="color: red;margin-right: 7px;" class="fas fa-list-alt"></i>List View</span> -->
    </div>
    <!-- Grid row -->
    <div class="row">
  
        <div class="container p-0 d-flex flex-wrap" *ngIf="changeviewFlag == false && restorantList.length != 0">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 card_parent row-col-eq ng-tns-c21-2 ng-star-inserted mb-4 mb-lg-0 pb-3"
               *ngFor="let restro of restorantList;" >
                <div class="card card_hover" (click)="sendRestarunt(restro)" mdbWavesEffect routerLink="../outlets-details/outlets">
                    <div class="card_inner" >
                        <restaurant-tags class="ng-tns-c21-2 ng-star-inserted"
                            style="--closed_tag_top:15px; --closed_tag_bg_color:#d63230; --closed_tag_font_color:white; --preorder_tag_top:45px; --preorder_tag_bg_color:#ba68c8; --preorder_tag_font_color:#ffffff; --sponsored_tag_bottom:2px; --sponsored_tag_bg_color:#ffc058; --sponsored_tag_font_color:white;">
                        </restaurant-tags>
                        <div class="card_image z-depth-1" mdbWavesEffect>
                            <img class="card_image_view"
                            [src]="restro.restaurant_logo">
                        </div>
                        <div class="card_right ng-tns-c21-2 ng-star-inserted">
                            <div class="top-div position-relative">
                                <p class="card_heading marginBZero" style="color: rgb(239, 7, 30);">
                                    {{restro.restaurant_name}}
                                </p>
                                <p class="card_distance marginBottomStore ng-tns-c21-2 ng-star-inserted">• {{restro.restaurant_foodtype}}</p>
                            </div>
                            <div class="ng-tns-c21-2 ng-star-inserted">
                                <hr class="d-line">
                            </div>
                            <div class="bottom">
                                <div class="bottom-div">
                                    <mdb-badge class="_badge" color="black">{{restro.restauran_delivery_min_time}} Min</mdb-badge>
                                    <p class="card_address marginBottomStore mg-st ng-tns-c21-2 ng-star-inserted"
                                        style="font-size: 11px">{{restro.radius}} MI</p>
                                </div>
                                <div class="bottom-div">
                                </div>
                                <div class="bottom-div" *ngIf=" restro.resto_offer != 'NA'">
                                    <div _ngcontent-serverapp-c21="" aria-hidden="false" class="store_rating ng-tns-c21-2 ng-star-inserted">
                                    </div>
                                    <div class="card_address d-flex-center">
                                        <span class="dot ng-tns-c21-2 ng-star-inserted"
                                            style="margin: 0px 8px 0px 0px;"></span>
                                        <p  class="ng-tns-c21-2 ng-star-inserted" >
                                            {{restro.resto_offer}}
                                        </p>
                                    </div>
                                </div>
                                <div class="bottom-div">
                                    <p  class="ng-tns-c21-2 ng-star-inserted" >
                                        <small class="text-muted"> Open :-{{restro.open_time}}  Close :-{{restro.close_time}} </small>
                                     </p>
                                </div>
                                <div class="bottom-div ratingDiv">
                                    <p  class="ng-tns-c21-2 ng-star-inserted rating" >
                                        <mdb-icon fas icon="star"  *ngFor="let item of createRange(restro.rating);" class="pr-2 yellow-text fa-sm"  ></mdb-icon>
                                    </p>
                                </div>
                            </div>
                        </div>  
                          
                    </div>
                    <mdb-badge class="_badge_preorder darken-2" color="purple">Preorder</mdb-badge>    
                </div>
            </div>

            <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 card_parent row-col-eq ng-tns-c21-2 ng-star-inserted mb-4 mb-lg-0">
                <div class="card card_hover">
                    <div class="card_inner">
                        <restaurant-tags class="ng-tns-c21-2 ng-star-inserted"
                            style="--closed_tag_top:15px; --closed_tag_bg_color:#d63230; --closed_tag_font_color:white; --preorder_tag_top:45px; --preorder_tag_bg_color:#ba68c8; --preorder_tag_font_color:#ffffff; --sponsored_tag_bottom:2px; --sponsored_tag_bg_color:#ffc058; --sponsored_tag_font_color:white;">
                        </restaurant-tags>
                        <div class="card_image z-depth-1" mdbWavesEffect>
                            <img class="card_image_view"
                                src="https://d2sz1kgdtrlf1n.cloudfront.net/yelo_products/thumb-250-250-16ijpt9vQwiPcE1623418691829-indianfood1024.jpg">
                        </div>
                        <div class="card_right ng-tns-c21-2 ng-star-inserted">
                            <div class="top-div position-relative">
                                <p class="card_heading marginBZero" style="color: rgb(239, 7, 30);">
                                    Shad Indian
                                </p>
                                <p class="card_distance marginBottomStore ng-tns-c21-2 ng-star-inserted">• Rice &amp; Curry •
                                    Biryani • Vegetables</p>
                            </div>
                            <div class="ng-tns-c21-2 ng-star-inserted">
                                <hr class="d-line">
                            </div>
                            <div class="bottom">
                                <div class="bottom-div">
                                    <mdb-badge class="_badge" color="black">33 Min</mdb-badge>
                                    <p class="card_address marginBottomStore mg-st ng-tns-c21-2 ng-star-inserted"
                                        style="font-size: 11px">2.68 MI</p>
                                </div>
                                <div class="bottom-div">
                                </div>
                                <div class="bottom-div">
                                    <div _ngcontent-serverapp-c21="" aria-hidden="false" class="store_rating ng-tns-c21-2 ng-star-inserted">
                                    </div>
                                    <div class="card_address d-flex-center">
                                        <span class="dot ng-tns-c21-2 ng-star-inserted"
                                            style="margin: 0px 8px 0px 0px;"></span>
                                        <p  class="ng-tns-c21-2 ng-star-inserted">
                                                min £15.00
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 card_parent row-col-eq ng-tns-c21-2 ng-star-inserted mb-4 mb-lg-0">
                <div class="card card_hover">
                    <div class="card_inner">
                        <restaurant-tags class="ng-tns-c21-2 ng-star-inserted"
                            style="--closed_tag_top:15px; --closed_tag_bg_color:#d63230; --closed_tag_font_color:white; --preorder_tag_top:45px; --preorder_tag_bg_color:#ba68c8; --preorder_tag_font_color:#ffffff; --sponsored_tag_bottom:2px; --sponsored_tag_bg_color:#ffc058; --sponsored_tag_font_color:white;">
                        </restaurant-tags>
                        <div class="card_image z-depth-1" mdbWavesEffect>
                            <img class="card_image_view"
                                src="https://d2sz1kgdtrlf1n.cloudfront.net/yelo_products/thumb-250-250-16ijpt9vQwiPcE1623418691829-indianfood1024.jpg">
                        </div>
                        <div class="card_right ng-tns-c21-2 ng-star-inserted">
                            <div class="top-div position-relative">
                                <p class="card_heading marginBZero" style="color: rgb(239, 7, 30);">
                                    Shad Indian
                                </p>
                                <p class="card_distance marginBottomStore ng-tns-c21-2 ng-star-inserted">• Rice &amp; Curry •
                                    Biryani • Vegetables</p>
                            </div>
                            <div class="ng-tns-c21-2 ng-star-inserted">
                                <hr class="d-line">
                            </div>
                            <div class="bottom">
                                <div class="bottom-div">
                                    <mdb-badge class="_badge" color="black">33 Min</mdb-badge>
                                    <p class="card_address marginBottomStore mg-st ng-tns-c21-2 ng-star-inserted"
                                        style="font-size: 11px">2.68 MI</p>
                                </div>
                                <div class="bottom-div">
                                </div>
                                <div class="bottom-div">
                                    <div _ngcontent-serverapp-c21="" aria-hidden="false" class="store_rating ng-tns-c21-2 ng-star-inserted">
                                    </div>
                                    <div class="card_address d-flex-center">
                                        <span class="dot ng-tns-c21-2 ng-star-inserted"
                                            style="margin: 0px 8px 0px 0px;"></span>
                                        <p  class="ng-tns-c21-2 ng-star-inserted">
                                                min £15.00
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 card_parent row-col-eq ng-tns-c21-2 ng-star-inserted mb-4 mb-lg-0">
                <div class="card card_hover">
                    <div class="card_inner">
                        <restaurant-tags class="ng-tns-c21-2 ng-star-inserted"
                            style="--closed_tag_top:15px; --closed_tag_bg_color:#d63230; --closed_tag_font_color:white; --preorder_tag_top:45px; --preorder_tag_bg_color:#ba68c8; --preorder_tag_font_color:#ffffff; --sponsored_tag_bottom:2px; --sponsored_tag_bg_color:#ffc058; --sponsored_tag_font_color:white;">
                        </restaurant-tags>
                        <div class="card_image z-depth-1" mdbWavesEffect>
                            <img class="card_image_view"
                                src="https://d2sz1kgdtrlf1n.cloudfront.net/yelo_products/thumb-250-250-16ijpt9vQwiPcE1623418691829-indianfood1024.jpg">
                        </div>
                        <div class="card_right ng-tns-c21-2 ng-star-inserted">
                            <div class="top-div position-relative">
                                <p class="card_heading marginBZero" style="color: rgb(239, 7, 30);">
                                    Shad Indian
                                </p>
                                <p class="card_distance marginBottomStore ng-tns-c21-2 ng-star-inserted">• Rice &amp; Curry •
                                    Biryani • Vegetables</p>
                            </div>
                            <div class="ng-tns-c21-2 ng-star-inserted">
                                <hr class="d-line">
                            </div>
                            <div class="bottom">
                                <div class="bottom-div">
                                    <mdb-badge class="_badge" color="black">33 Min</mdb-badge>
                                    <p class="card_address marginBottomStore mg-st ng-tns-c21-2 ng-star-inserted"
                                        style="font-size: 11px">2.68 MI</p>
                                </div>
                                <div class="bottom-div">
                                </div>
                                <div class="bottom-div">
                                    <div _ngcontent-serverapp-c21="" aria-hidden="false" class="store_rating ng-tns-c21-2 ng-star-inserted">
                                    </div>
                                    <div class="card_address d-flex-center">
                                        <span class="dot ng-tns-c21-2 ng-star-inserted"
                                            style="margin: 0px 8px 0px 0px;"></span>
                                        <p  class="ng-tns-c21-2 ng-star-inserted">
                                                min £15.00
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>
            </div> -->
        </div>
        <div class="container p-0 d-flex flex-wrap" *ngIf="changeviewFlag == false && restorantList.length == 0">
            <h1>Restaurant not available</h1>

        </div>
        <div class="container p-0 d-flex flex-wrap" *ngIf="changeviewFlag == true">
            <app-map1></app-map1>
        </div>
    </div>
    </div>
</section>

