
    <!--Card-->
    <mdb-card class="web-cart d-none d-lg-flex">
        <mdb-card-header>
            <div class="clearfix">
                <h4 class="h5 font-weight-bold float-left">Cart</h4>
                <span class="float-right"><mdb-icon fas icon="trash-alt"></mdb-icon></span>
              </div>
        </mdb-card-header>
      <!--Card content-->
      <mdb-card-body class="p-3 scroll-cart">
        <dl class="row d-flex justify-content-between">
            <dd class="col-sm-8">
                Vegetable Dansak vfddfdfg
            </dd>
            <dd class="col-sm-4">
                $ 2000
            </dd>
            <dd class="col-sm-6 d-flex justify-content-between cart-plus-minus">
                <a>
                    <span mdbWavesEffect class="badge red z-depth-1 text-white plus-minus">
                        <mdb-icon fas icon="minus"></mdb-icon>
                    </span>
                </a>
                <input mdbInput type="text" class="form-control z-depth-1 form-control-sm" />
                <a>
                    <span mdbWavesEffect class="badge red z-depth-1 text-white plus-minus">
                        <mdb-icon fas icon="plus"></mdb-icon>
                    </span>
                </a>
            </dd>
        </dl>

        <hr />

        <dl class="row">
          <dd class="col-sm-8">
            Tandoori Mixed Grill
          </dd>
          <dd class="col-sm-4">
            $ 2000
          </dd>
          <dd class="col-sm-6 d-flex justify-content-between cart-plus-minus">
            <a>
                <span mdbWavesEffect class="badge red z-depth-1 text-white plus-minus">
                    <mdb-icon fas icon="minus"></mdb-icon>
                </span>
            </a>
            <input mdbInput type="text" class="form-control z-depth-1 form-control-sm" />
            <a>
                <span mdbWavesEffect class="badge red z-depth-1 text-white plus-minus">
                    <mdb-icon fas icon="plus"></mdb-icon>
                </span>
            </a>
        </dd>
        </dl>

        <hr />

        <dl class="row">
          <dd class="col-sm-8">
            Tandoori King Prawn
          </dd>
          <dd class="col-sm-4">
            $ 2000
          </dd>
          <dd class="col-sm-6 d-flex justify-content-between cart-plus-minus">
            <a>
                <span mdbWavesEffect class="badge red z-depth-1 text-white plus-minus">
                    <mdb-icon fas icon="minus"></mdb-icon>
                </span>
            </a>
            <input mdbInput type="text" class="form-control z-depth-1 form-control-sm" />
            <a>
                <span mdbWavesEffect class="badge red z-depth-1 text-white plus-minus">
                    <mdb-icon fas icon="plus"></mdb-icon>
                </span>
            </a>
        </dd>
        </dl>

        <hr />

        <dl class="row" routerLink="checkout/checkout-details">
          <dd class="col-sm-8">
            Tandoori King Prawn
          </dd>
          <dd class="col-sm-4">
            $ 2000
          </dd>
          <dd class="col-sm-6 d-flex justify-content-between cart-plus-minus">
            <a>
                <span mdbWavesEffect class="badge red z-depth-1 text-white plus-minus">
                    <mdb-icon fas icon="minus"></mdb-icon>
                </span>
            </a>
            <input mdbInput type="text" class="form-control z-depth-1 form-control-sm" />
            <a>
                <span mdbWavesEffect class="badge red z-depth-1 text-white plus-minus">
                    <mdb-icon fas icon="plus"></mdb-icon>
                </span>
            </a>
        </dd>
        </dl>
      </mdb-card-body>
      <button class="clearfix px-3" mdbBtn type="button" color="black" block="true" mdbWavesEffect>
        <span class="float-left">Subtotal</span>  <span class="float-right">£ 90.85</span>
    </button>
    <button class="clearfix px-3" mdbBtn type="button" color="red" block="true" mdbWavesEffect style="background-color: #ed4134!important;" >
        Checkout
    </button>
    </mdb-card>
    <!--/.Card-->


<!-- mobile Cart -->


    <!--Card-->
<mdb-card class="mobile-cart d-lg-none d-md-none">
<div class="d-flex clearfix">
      <button class="clearfix px-3 float-left" mdbBtn type="button" color="red" block="true" mdbWavesEffect>
        <span class="float-left">10 Items in cart</span>  <span class="float-right">£ 90.85</span>
    </button>
    <!-- <button class="clearfix px-3" mdbBtn type="button" color="red" block="true" mdbWavesEffect style="background-color: #ed4134!important;" >
        Checkout
    </button> -->
    </div>
    </mdb-card>
    <!--/.Card-->
